/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #000;
}

/* Remove Vite demo styles */
body {
  display: block;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Media defaults */
img,
iframe {
  max-width: 100%;
  display: block;
}