/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Inter", system-ui, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background-color: #000;
}

/* Remove Vite demo styles */
body {
  display: block;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Media defaults */
img,
iframe {
  max-width: 100%;
  display: block;
}